:root{
    --exp-blue: #0A215A;
    --exp-white: #EBE4E2;
    --exp-lightgrey: #DCD9D6;
    --exp-gold: #E4CBA3;
    --exp-bez: #B59E96;

}

*{
    box-sizing: border-box;
}

.category-title{
  text-align: center;
  margin-top: 1.5em;
  color: var(--exp-blue);
}

body{
  background-color: var(--exp-white);
}

p{
  line-height: 1.8;
  text-align: justify;
  font-size: 21px;
  font-family: 'Times New Roman', Times, serif;
}

pre{
  line-height: 1.8;
  text-align: justify;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  margin:0;

}

/* @media (max-width:1300px) {
  p {
    padding: 0 2.5em;
  }
} */
