:root{
    --exp-blue: #0A215A;
    --exp-white: #EBE4E2;
    --exp-lightgrey: #DCD9D6;
    --exp-gold: #E4CBA3;
    --exp-bez: #B59E96;

}

*{
    box-sizing: border-box;
}

.category-title{
  text-align: center;
  margin-top: 1.5em;
  color: var(--exp-blue);
}

main {
  min-height: calc(100vh - 1.5em - 100px - 160px - 4.5em);
  margin-top: 0;
}

h1 {
  margin: 2vh 0 0 0;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: var(--exp-white);
}

p{
  line-height: 1.8;
  text-align: justify;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
}

pre{
  line-height: 1.8;
  text-align: justify;
  font-size: 21px;
  font-family: 'Lato', Times, serif;
  margin:0;

}

a {
  font-family: 'Lato', sans-serif;
}

label {
  font-family: 'Lato', sans-serif;
}

@media (max-width:1300px) {
  p {
    font-size: 18px;
  }
  pre{
    font-size: 18px;
  }
}
