.container{
    display: flex;
    flex-direction: column;
    /* margin-left: 4em; */
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.text-container .text{
    /* display: flex;
    flex-wrap: wrap; */
    /* width: fit-content; */
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

.latest-issue-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fdTopBar{
    display: none;
}

.cover-photo-main{
  object-fit: contain;
  /* height: 15rem; */
  height: 100%;
  width: 100%;
  padding: 0;
  /* padding-right: 1em; */
}

@media (max-width:600px) {
  .text-container .text {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    padding: 0 2.5em;
  }
}

@media (max-width:1300px) {
  .text-container .text {
    padding: 0 2.5em;
  }
}
