{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} Ανακοινώσεις | ExpressisVerbis {% endblock %}
{%block content%}

<h1 class="category-title">Ανακοινώσεις</h1>
<div class="announcement-container">

  {% for announcement in updates %}
  <div class="announcement">
    <hr size="5" color='#b9a796'>
    <div class="announcement-title-container">
      <a href="/announcements/{{announcement.pk}}"><p class="announcement-title">{{announcement.title}}</p></a>
    </div>
    <div class="announcement-img">
      <a href="/announcements/{{announcement.pk}}"><img src="{{announcement.photo.url}}" alt="cover {{announcement.pk}}" width=100% class='cover-photo'></a>
    </div>
    <div class="announcement-text-container">
      <p class="announcement-text">{{announcement.subtitle}}</p>
      <p class="announcement-text">
        {% language 'el' %}
          {{announcement.publicationDate|date:'D, d M Y' }}
        {% endlanguage %}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
