{% load static %}
<!DOCTYPE html>
<link rel ="stylesheet" type="text/css" href="{% static 'css/generic_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/columns.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/nav_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/footer_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/issues_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/sponsors_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/members_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/team_style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel ="stylesheet" type="text/css" href="{% static 'css/contact-style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/announcements_style.css' %}">

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'graphics/favicon.ico' %}">
        <script src="{% static 'js/nav.js' %}" defer></script>
    </head>

    <body>
        <header id="header">
            {% include "nav.html" %}
        </header>

        <main id="main">
            {% block content %}{% endblock %}
        </main>

        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </body>

</html>
