{% load static %}
<!DOCTYPE html>
<link rel ="stylesheet" type="text/css" href="{% static 'css/nav_style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'css/footer_style.css' %}">

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'graphics/favicon.ico' %}">
        <script src="{% static 'js/nav.js' %}" defer></script>
    </head>

    <body>
        <header id="header">
            {% include "nav.html" %}
        </header>

        <main id="main">
            {% block content %}{% endblock %}
        </main>

        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </body>

</html>
