{% extends "base.html" %}
{% load static %}
{% block title %} ExpressisVerbis Law Journal {% endblock %}
{%block content%}
<h1 class="category-title">Τεύχος 6</h1>
<div class="chapter_main_container">
  <div class="issue-image col-3 col-s-3">
    <img src="{{ latest.cover.url}}" alt="cover 6" width=100% height=100% class='cover-photo'>
  </div>
  <div class="chapter_container">
    {% for chapter in chapters %}
    <hr size='5px' color='#b9a796' width='80%'>
    <div class="chapter">
      <a style="text-decoration:none", href="{{ chapter.chapter_file.url }}" target="_blank">Κεφάλαιο {{chapter.chapter_nr}}</a>
      <p class="announcement-title2">{{chapter.chapter_title}}</p>
      <p class="announcement-text">{{chapter.editor}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="issues-page-container">
  <h1 class="category-title">Τεύχος 6</h1>
  <div class="issues_container">
    <div class="issue-container col-12">
      <div class="issue-image col-3 col-s-3">
        <img src="{{ latest.cover.url}}" alt="cover 6" width=100% height=100% class='cover-photo'>
      </div>
      {% for chapter in chapters %}
      <hr size='5px' color='#b9a796' width='80%'>
      <div class="chapter">
        <a style="text-decoration:none", href="{{ chapter.chapter_file.url }}" target="_blank">Κεφάλαιο {{chapter.chapter_nr}}</a>
        <p class="announcement-title2">{{chapter.chapter_title}}</p>
        <p class="announcement-text">{{chapter.editor}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
{% endblock %}
