
  {% extends "base.html" %}
  {% load static %}
  {% block title %} ExpressisVerbis Law Journal {% endblock %}
  {%block content%}

  <div class="contact-form-container">
    <div class="row">
      <div class="column">
        <h3>{{success}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h2>Επικοινωνία</h2>
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
