
  {% extends "base.html" %}
  {% load static %}
  {% block title %} ExpressisVerbis Law Journal {% endblock %}
  {%block content%}
  <h1 class="category-title">Επικοινωνία</h1>

  <div class="contact-container">
    <h2>{{success}}</h2>
    <div class="contact-container2">
        <h4>Κείμενο για Επικοινωνία</h4>
        <hr size="5">
          <form action="" method="post">
            {% csrf_token %}
            <div class="contact-col">
              <div class="contact-form">
                <label for="name">Ονοματεπώνυμο:</label>
                  {{ form.name }}
              </div>
              <div class="contact-form">
                <label for="email">Email:</label>
                {{ form.email }}
              </div>
              <div class="contact-form"ight:20px;>
                <label for="subject">Θέμα:</label>
                {{ form.subject }}
              </div>
              <div class="contact-form">
                <label for="message">Μήνυμα:</label>
                {{ form.message }}
              </div>

              <div class="contact-form">
                <input class="btn btn-primary submit-button" type="submit" value="Υποβολή">
              </div>
            </div>
          </form>
    </div>
  </div>

  {% endblock %}
