{% load static %}
<div class="footer-class">

    <div class="footer-text-left">
      <div class="row">
        <div class="column">
          <ul>
            <p class="h-custom">Επικοινωνία:</p>
            <li class="li-items">email</li>
            <li class="li-items">phone number</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="footer-content-right">
      <div class="row">
        <div class="column2">
          <a href="https://www.elsa-greece.org"><img src= "{% static 'graphics/ELSA_THESSALONIKI_LOGO_WHITE.png' %}" alt="elsa_logo" class="icon-style2"></a>
        </div>
        <div class="column">
          <a href="https://www.facebook.com/ExpressisVerbisJournal/"><img src= "{% static 'graphics/icons8-facebook-48.png' %}" alt="fb_logo" class="icon-style"></a>
        </div>
        <div class="column">
          <a href="https://www.instagram.com/expressisverbis.lawjournal/"><img src="{% static 'graphics/icons8-instagram-48.png' %}" class="icon-style" alt="ig_logo"></a>
        </div>
        <div class="column">
          <a href="https://www.linkedin.com/company/expressis-verbis-law-journal"><img src="{% static 'graphics/icons8-linkedin-48.png' %}" class="icon-style" alt="linkedin_logo"></a>
        </div>
      </div>
    </div>

</div>
