{% extends "base.html" %}
{% load static %}
{% block title %} Τεύχη | ExpressisVerbis {% endblock %}
{%block content%}
{%csrf_token%}
<!-- <h1> Τεύχη</h1> -->
<div class="issues-page-container">
  <h1 class="category-title">Τεύχη του ExpressisVerbis</h1>
  <div class="issues_container">
    {% for issue in issues %}
    <div class="issue-container col-12">
      <!-- <div class="issue"> -->
        <div class="issue-image col-3 col-s-3">
          <a href="/issues/{{issue.issueNumber}}"><img src="{{ issue.cover.url}}" alt="cover {{issue.issueNumber}}" width=100% class='cover-photo'></a>
        </div>
        <div class="issue-info col-9 col-s-9"> 
          <p class="issue-title row-1">Τεύχος {{issue.issueNumber}}</p>
          <p class="row-1" style="color: #1445c4; margin: 1em 0 0 0;">Χρόνια Έκδοσης: {{issue.startDate}} - {{issue.publicationDate}}</p>
          <p class="row-10">{{issue.context}}</p>
        </div> 
      <!-- </div> -->
    </div>
    {% endfor %}
  </div>
</div>
<!-- <iframe src="https://drive.google.com/file/d/1AaiYzVGQ2kAWdLd9QC_xzbLAAQT4aif-/preview" width="640" height="480" allow="download"></iframe> -->

{% endblock %}
