{% extends "base.html" %}
{% load static %}
{% block title %} Τεύχη | ExpressisVerbis {% endblock %}
{%block content%}
{%csrf_token%}
<!-- <h1> Τεύχη</h1> -->
<div class="issues_container">
  {% for issue in issues %}
  <div class="issue-container col-4 col-s-6">
    <div class="issue">
        <a href="/issues/{{issue.issueNumber}}"><img src="{{ issue.cover.url}}" alt="cover {{issue.issueNumber}}" width=100% class='cover-photo'></a>
        <p>Τεύχος {{issue.issueNumber}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<!-- <iframe src="https://drive.google.com/file/d/1AaiYzVGQ2kAWdLd9QC_xzbLAAQT4aif-/preview" width="640" height="480" allow="download"></iframe> -->

{% endblock %}
