{% extends "base.html" %}
{% load static %}
{% block title %} ExpressisVerbis Law Journal {% endblock %}
{%block content%}
<div class="container">
    <h3>Τι είναι το ExpressisVerbis</h3>
    <div class="text-container col-4">
        <p class="text">AfhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhalAfhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhalAfhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
            Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal
        </p>
    </div>
</div>
{% endblock %}
