{% extends "base.html" %}
{% load static %}
{% block title %} ExpressisVerbis Law Journal {% endblock %}
{%block content%}
<div class="container">
    <h3>Τι είναι το ExpressisVerbis</h3>
    <text class="text">Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
        Afhaiusdfilauflascjsdcniasiluahfiluwhflihafliuhal<br>
    </text>
</div>
{% endblock %}
