{% extends "base.html" %}
{% load static %}
{% block title %} Γίνε Μέλος | ExpressisVerbis {% endblock %}
{%block content%}
<div>
    <h1 class="category-title">Γίνε Μέλος Τωρα!</h1>
    <div class="split-container">
        <div class="mem-container-left col-5">
            <h2>Γίνε Αρθογράφος</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula velit ut fermentum suscipit. Mauris molestie nisi sed turpis bibendum, sed mollis ex consectetur. Cras consequat erat eget enim egestas, dignissim gravida nisi volutpat. Aliquam non dui velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean eget posuere leo. Quisque euismod venenatis sem, at dapibus tortor consectetur id. Duis eleifend risus diam, eu luctus odio ullamcorper a. Maecenas et massa ipsum. Mauris porta aliquam ipsum feugiat imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus dui turpis, ut malesuada neque dapibus a. Suspendisse diam magna, facilisis quis hendrerit vulputate, malesuada eu dolor.

                Cras volutpat blandit suscipit. Proin a luctus libero, eu placerat diam. In eget odio ligula. Nullam efficitur dictum vehicula. Aenean convallis leo a tempor vulputate. Nunc pellentesque velit tristique diam tincidunt, eu efficitur massa gravida. Suspendisse dui tortor, lacinia et aliquam sed, pellentesque vel enim. Nunc blandit odio vitae tortor auctor efficitur eu non magna. Vivamus non mi pulvinar, egestas massa a, vulputate magna. Nulla eget magna nec enim sollicitudin aliquet. Donec sagittis tempor enim, eu semper erat eleifend non. Aenean a bibendum turpis, vitae blandit ipsum. Duis faucibus justo porta interdum tristique. Etiam feugiat neque nec bibendum rutrum. Curabitur pellentesque ex arcu, vitae vestibulum risus tempus sit amet.
                
                Nulla eleifend porta ligula placerat venenatis. Praesent pretium erat at neque tincidunt posuere. Morbi sodales odio sed leo consequat, ac euismod nulla viverra. Etiam at ullamcorper ex. Sed facilisis commodo orci, sed vulputate tellus fermentum sed. Mauris lobortis sollicitudin hendrerit. Sed dignissim mi turpis, id auctor urna vulputate sed. Sed varius ligula lectus, in mattis arcu lobortis sed.</p>
            <a href="www.youtube.com">google form</a>
        </div>
        <div class="line-container col-2">
            <div class="line"></div>
        </div>
        <div class="mem-container-right col-5">
            <h2>Γίνε Μέρος</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula velit ut fermentum suscipit. Mauris molestie nisi sed turpis bibendum, sed mollis ex consectetur. Cras consequat erat eget enim egestas, dignissim gravida nisi volutpat. Aliquam non dui velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean eget posuere leo. Quisque euismod venenatis sem, at dapibus tortor consectetur id. Duis eleifend risus diam, eu luctus odio ullamcorper a. Maecenas et massa ipsum. Mauris porta aliquam ipsum feugiat imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus dui turpis, ut malesuada neque dapibus a. Suspendisse diam magna, facilisis quis hendrerit vulputate, malesuada eu dolor.

                Cras volutpat blandit suscipit. Proin a luctus libero, eu placerat diam. In eget odio ligula. Nullam efficitur dictum vehicula. Aenean convallis leo a tempor vulputate. Nunc pellentesque velit tristique diam tincidunt, eu efficitur massa gravida. Suspendisse dui tortor, lacinia et aliquam sed, pellentesque vel enim. Nunc blandit odio vitae tortor auctor efficitur eu non magna. Vivamus non mi pulvinar, egestas massa a, vulputate magna. Nulla eget magna nec enim sollicitudin aliquet. Donec sagittis tempor enim, eu semper erat eleifend non. Aenean a bibendum turpis, vitae blandit ipsum. Duis faucibus justo porta interdum tristique. Etiam feugiat neque nec bibendum rutrum. Curabitur pellentesque ex arcu, vitae vestibulum risus tempus sit amet.
                
                Nulla eleifend porta ligula placerat venenatis. Praesent pretium erat at neque tincidunt posuere. Morbi sodales odio sed leo consequat, ac euismod nulla viverra. Etiam at ullamcorper ex. Sed facilisis commodo orci, sed vulputate tellus fermentum sed. Mauris lobortis sollicitudin hendrerit. Sed dignissim mi turpis, id auctor urna vulputate sed. Sed varius ligula lectus, in mattis arcu lobortis sed.</p>
                <a href="www.youtube.com">google form</a>
        </div>
    </div>
</div>

{% endblock %}