{% extends "base.html" %}
{% load static %}
{% block title %} Γίνε Μέλος | ExpressisVerbis {% endblock %}
{%block content%}
<div>
    <!-- <h1 class="category-title">Γίνε Μέλος Τωρα!</h1> -->
    <div class="split-container">
        <div class="mem-container-left col-8">
            <h2 class="category-title">Γίνε Αρθογράφος</h2>
            <p style="padding:1em; text-align: justify;">Για την απόκτηση της ιδιότητας του μέλους της ELSA Thessaloniki απαιτείται η συμπλήρωση της παρακάτω αίτησης εγγραφής μέλους.

                Προϋποθέσεις ιδιότητας μέλους

                Σύμφωνα με το άρθρο 6 του Καταστατικού του σωματείου:

                α) «Τακτικά μέλη» του σωματείου μπορούν να γίνουν οι φοιτητές-τριες οι οποίοι φοιτούν στο Τμήμα Νομικής της Νομικής Σχολής του ΑΠΘ (Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης). Επίσης τακτικά μέλη του σωματείου μπορούν να γίνουν οι πτυχιούχοι Νομικής μέχρι ηλικίας 30 χρόνων, οι οποίοι φοιτούν στο ως άνω τμήμα σε μεταπτυχιακό επίπεδο ή υπηρετούν ως ασκούμενοι σε δικηγορικό γραφείο ή είναι εγγεγραμμένοι σε ∆ικηγορικό Σύλλογο στην Ελλάδα ή ασκούν άλλη δραστηριότητα συναφή προς το παραπάνω αντικείμενο σπουδών.

                β) «Έκτακτα μέλη» μπορούν να είναι άτομα που δεν ανήκουν στις παραπάνω κατηγορίες, είναι όμως φοιτητές-τριες ή επιστήμονες που το γνωστικό τους αντικείμενο σχετίζεται με το δίκαιο, φοιτητές ή επιστήμονες παρεμφερών, προς αυτό, κλάδων ή άτομα με αποδεδειγμένο ενδιαφέρον για την Ένωση.

                γ) «Επίτιμα μέλη» μπορούν να ανακηρυχθούν, με απόφαση της Γ.Σ. ύστερα από πρόταση του ∆.Σ., άτομα που δεν πληρούν τις παραπάνω προϋποθέσεις, προσέφεραν όμως όλως ιδιαιτέρως σπουδαίες υπηρεσίες ή οικονομική ενίσχυση στην Ένωση στα πλαίσια των σκοπών που αυτή επιδιώκει. Τα επίτιμα μέλη δεν είναι αναγκαίο να έχουν τις προϋποθέσεις εγγραφής ως τακτικά μέλη. ∆εν έχουν επίσης τα δικαιώματα και τις υποχρεώσεις των τακτικών και εκτάκτων μελών.

                Τρόπος εγγραφής/ανανέωσης συνδρομής

                α) Για την δια ζώσης εγγραφή/ανανέωση συνδρομής μέλους στο δίκτυο της ELSA Thessaloniki παρακαλώ επισκεφθείτε το γραφείο Ευρυγένης στο κτίριο της Νομικής Σχολής ΑΠΘ, στον 3ο όροφο δίπλα από το γραφείο Erasmus (μόνο κατά τις περιόδους που λειτουργεί η Σχολή)



                β) Για την διαδικτυακή εγγραφή/ανανέωση συνδρομής μέλους στο δίκτυο της ELSA Thessaloniki είναι απαραίτητη η συμπλήρωση της αίτησης εγγραφής/ανανέωσης μέλους, καθώς και η αποστολή του αποδεικτικού κατάθεσης της προβλεπόμενης συνδρομής (10 ευρώ), μέσω της συμπλήρωσης της φόρμας που ακολουθεί. Προκειμένου να ολοκληρωθεί η διαδικασία εγγραφής/ανανέωσης οι ενδιαφερόμενοι/ες θα πρέπει να ακολουθήσουν τα εξής βήματα:



                1ο βήμα: Κατάθεση συνδρομής ύψους 10 ευρώ (είτε σε φυσικό κατάστημα είτε μέσω web-banking) στον λογαριασμό της ELSA Thessaloniki με τα εξής στοιχεία: ELSA Thessaloniki, Alpha Bank, IBAN: GR5501407020702002101362035 (Ευρωπαϊκή Ένωση Νέων Νομικών Τμήμα Θεσσαλονίκης), με αναγραφόμενα στοιχεία ως αιτιολογία συναλλαγής το ονοματεπώνυμο του δικαιούχου και το σκοπό καταβολής (εγγραφή ή ανανέωση εγγραφής) και αποθήκευση του αποδεικτικού κατάθεσης. Έχετε υπόψη πως, σε κάθε περίπτωση, όλα τα τραπεζικά έξοδα πρέπει να επωμίζεται αποκλειστικά ο/η εντολέας (επιλογή OUR). Διαφορετικά, η εγγραφή/ανανέωση θεωρείται ως μη γενόμενη.



                2ο βήμα: Αποστολή αίτησης και αποδεικτικού μέσω της υποβολής της παρακάτω φόρμας.


                3ο βήμα: Αφού ολοκληρωθεί η διαδικασία αυτή, θα λάβετε μήνυμα εντός 7 ημερών από τη Γενική Γραμματεία της ELSA Thessaloniki με το οποίο θα επιβεβαιώνεται η επιτυχής εγγραφή/ανανέωση συνδρομής στο δίκτυο. Σε περίπτωση ανεπιτυχούς εγγραφής/ανανέωσης θα σας επιστραφεί το καταβληθέν ποσό (μείον τις αναγκαίες τραπεζικές προμήθειες).


                Ως ημερομηνία εγγραφής ή ανανέωσης εγγραφής του μέλους θεωρείται η ημερομηνία κατάθεσης του ποσού της ετήσιας συνδρομής. Από την ημερομηνία αυτή εκκινεί η περίοδος της ταμειακής ενημερότητας του μέλους, η οποία διαρκεί ακριβώς ένα ημερολογιακό έτος.



                Σε περίπτωση που έχετε κάποια απορία ή αντιμετωπίζετε προβλήματα κατά τη διαδικασία εγγραφής, μπορείτε να επικοινωνήσετε με την ηλεκτρονική διεύθυνση thessaloniki@elsa-greece.org.

                *ΠΡΟΣΟΧΗ*: Η παρούσα διαδικασία εγγραφής αφορά μόνο την κατηγορία των τακτικών μελών. Αν επιθυμείτε να εγγραφείτε στην ELSA, αλλά δεν ανήκετε σε αυτή την κατηγορία, παρακαλούμε απευθυνθείτε στην ηλεκτρονική διεύθυνση thessaloniki@gr.elsa.org </p>
            <a style="font-size: 21px;" href="https://www.elsa-greece.org/elsa-thessaloniki/member/?fbclid=IwAR33X_s6VKAwbBvIBNsSQG9BJZBawOmWnQCB79CihjQ4FWpXo7MCDF6TqAM">Γίνε Μέλος</a>
        </div>
        <!-- <div class="line-container col-2">
            <div class="line"></div>
        </div> -->
        <!-- <div class="mem-container-right col-5">
            <h2>Γίνε Μέρος</h2>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula velit ut fermentum suscipit. Mauris molestie nisi sed turpis bibendum, sed mollis ex consectetur. Cras consequat erat eget enim egestas, dignissim gravida nisi volutpat. Aliquam non dui velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean eget posuere leo. Quisque euismod venenatis sem, at dapibus tortor consectetur id. Duis eleifend risus diam, eu luctus odio ullamcorper a. Maecenas et massa ipsum. Mauris porta aliquam ipsum feugiat imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus dui turpis, ut malesuada neque dapibus a. Suspendisse diam magna, facilisis quis hendrerit vulputate, malesuada eu dolor.

                Cras volutpat blandit suscipit. Proin a luctus libero, eu placerat diam. In eget odio ligula. Nullam efficitur dictum vehicula. Aenean convallis leo a tempor vulputate. Nunc pellentesque velit tristique diam tincidunt, eu efficitur massa gravida. Suspendisse dui tortor, lacinia et aliquam sed, pellentesque vel enim. Nunc blandit odio vitae tortor auctor efficitur eu non magna. Vivamus non mi pulvinar, egestas massa a, vulputate magna. Nulla eget magna nec enim sollicitudin aliquet. Donec sagittis tempor enim, eu semper erat eleifend non. Aenean a bibendum turpis, vitae blandit ipsum. Duis faucibus justo porta interdum tristique. Etiam feugiat neque nec bibendum rutrum. Curabitur pellentesque ex arcu, vitae vestibulum risus tempus sit amet.

                Nulla eleifend porta ligula placerat venenatis. Praesent pretium erat at neque tincidunt posuere. Morbi sodales odio sed leo consequat, ac euismod nulla viverra. Etiam at ullamcorper ex. Sed facilisis commodo orci, sed vulputate tellus fermentum sed. Mauris lobortis sollicitudin hendrerit. Sed dignissim mi turpis, id auctor urna vulputate sed. Sed varius ligula lectus, in mattis arcu lobortis sed.</p>
                <a href="www.youtube.com">google form</a>
        </div> -->
    </div>
</div>

{% endblock %}
