{% load static %}
<nav class="navbar">
    <div class="nav_logo_container">
        <img src="{% static 'graphics/Expressis_White_Logo.png' %}" class="nav_logo">
    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="#">Τεύχη</a></li>
        <li><a href="#">Γίνε Μέλος</a></li>
        <li><a href="#">Η Ομάδα</a></li>
        <li><a href="#">Ανακοινώσεις</a></li>
        <li><a href="#">Χορηγοί</a></li>
        <li><a href="#">Επικοινωνία</a></li>
      </ul>
    </div>
  </nav>