{% load static %}
<nav class="navbar">
    <div class="nav_logo_container">
      <a href="/main">
        <img src="{% static 'graphics/Expressis_Ασπρο_Logo_Final.png' %}" class="nav_logo">
      </a>
    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="/issues">Τεύχη</a></li>
        <li><a href="/members">Γίνε Μέλος</a></li>
        <li><a href="/team">Η Ομάδα</a></li>
        <li><a href="/announcements">Ανακοινώσεις</a></li>
        <li><a href="/sponsors">Χορηγοί</a></li>
        <li><a href="/contact">Επικοινωνία</a></li>
      </ul>
    </div>
  </nav>
