{% extends "base.html" %}
{% load static %}
{% block title %} Χορηγοί | ExpressisVerbis {% endblock %}
{%block content%}
{%csrf_token%}
<div class="category-container">
  <h1 class="category-title">Χορηγοί</h1>
  <div class="sponsors_container">
    {% for sponsor in sponsors %}
    <div class="sponsor-container col-2 col-s-4">
      <div class="sponsor">
          <a href="{{sponsor.link}}"><img src="{{sponsor.logo.url}}" alt="cover {{sponsor.name}}" width=100% class='sponsor-logo'></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endblock %}
